/*----- Colors -----*/
$color-primary: #ff52bf;
$color-secondary: #88e3fa;
$color-secondary-pale: #c4f3ff;
$color-secondary-dark: #00252e;
$color-secondary-greyish: #808d99;

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;


/*----- Fonts -----*/
$default-font-size: 1.8rem;


/*----- Grid -----*/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

