.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		border-radius: 10rem;
		display: inline-block;
		font-size: $default-font-size;
		padding: 1.5rem 4rem;

		&:hover {
			transform: translateY(3px);
			box-shadow: 0 1rem 2rem rgba($color-black, .2);
		}
 }
 
 &--pink {
  background-color: $color-primary;
		color: $color-secondary-pale;
		position: absolute;
		bottom: 10rem;
 }

	&--white {
		background-color: $color-secondary;
		color: $color-black;
		position: absolute;
		top: 4rem;
		right: 10rem;

		&::after {
			background-color: $color-secondary;
		}
	}
}
