*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

html {
 font-size: 62.5%;
}

body {
 box-sizing: border-box;
 width: 100%;
 height: 100%;
}

ul {
 list-style-type: none;
}

a {
 text-decoration: none;
 color: $color-secondary-pale;
}