body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-dark;
}

.heading-primary {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 4rem;
	color: $color-secondary-dark;
	text-transform: uppercase;
	padding: 1rem 0;
	display: inline-block;
	position: absolute;
	top: 3rem;
	left: 0;
	
}

.header__paragraph {
	font-size: $default-font-size;
	padding: 7rem 0;
	margin-bottom: 4rem;
}

.heading-secondary {
	font-family: 'Open Sans', sans-serif;
	font-size: 4rem;
	font-weight: 700;
	text-transform: capitalize;
	padding: 7rem 10rem 1rem;
	text-align: center;

}

.main__paragraph {
	font-size: $default-font-size;
	padding: 2rem;
}

.heading-tertiary {
	font-size: 1.3rem;
	color: $color-secondary-pale;
	text-align: left;
}
